* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
  font-size: 18px;
  font-family: 'Rubik', sans-serif;
}

body {
  width: 100vw;
  background-color: #E3FDFD;
}

header {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 768px) {
  header {
    height: 100vh;
  }
}

header .position {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header .position h1 {
  font-size: 7vmin;
  padding: 0 0 1rem 0;
  color: #71C9CE;
}

header .position span {
  font-size: 5vmin;
  color: #71C9CE;
}

header .hero {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(200px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 1rem;
  padding: 1rem;
}

@media (min-width: 768px) {
  header .hero {
    -ms-grid-columns: (minmax(250px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}

header .hero .priceActual {
  height: 7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 1px solid #71C9CE;
  border-radius: 1rem;
  background-color: #CBF1F5;
}

header .hero .priceActual:hover {
  -webkit-box-shadow: 0 0 0.5rem 0.5rem #71C9CE;
          box-shadow: 0 0 0.5rem 0.5rem #71C9CE;
}

header .hero .priceActual h2 {
  color: #71C9CE;
  font-size: 3vmin;
  font-weight: 700;
  border-bottom: 1px solid;
}

header .hero .priceActual span {
  font-size: 3vmin;
  padding-top: 1rem;
  color: #71C9CE;
  font-weight: 500;
}

header .hero .priceActual p {
  padding: 1rem 0 0 0;
  font-size: 2vmin;
  font-weight: 700;
  color: #71C9CE;
}

header .hero .priceActual p span {
  font-size: 3.5vmin;
  font-weight: 700;
  color: #71C9CE;
}

header .hero .Medio {
  height: 7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 1px solid #71C9CE;
  border-radius: 1rem;
  background-color: #CBF1F5;
}

header .hero .Medio:hover {
  -webkit-box-shadow: 0 0 0.5rem 0.5rem #71C9CE;
          box-shadow: 0 0 0.5rem 0.5rem #71C9CE;
}

header .hero .Medio h2 {
  color: #71C9CE;
  font-size: 3vmin;
  font-weight: 700;
  border-bottom: 1px solid;
}

@media (min-width: 1024px) {
  header .hero .Medio h2 {
    font-size: 2.8vmin;
  }
}

header .hero .Medio span {
  font-size: 3vmin;
  padding-top: 1rem;
  color: #71C9CE;
}

header .hero .Medio p {
  font-size: 2vmin;
  font-weight: 700;
  padding: 1rem 0 0 0;
  color: #71C9CE;
}

header .hero .Medio p span {
  font-size: 3.5vmin;
  font-weight: 700;
  color: #71C9CE;
}

header .hero .Low {
  height: 7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 1px solid #71C9CE;
  border-radius: 1rem;
  background-color: #CBF1F5;
}

header .hero .Low:hover {
  -webkit-box-shadow: 0 0 0.5rem 0.5rem #71C9CE;
          box-shadow: 0 0 0.5rem 0.5rem #71C9CE;
}

header .hero .Low h2 {
  color: #71C9CE;
  font-size: 3vmin;
  font-weight: 700;
  border-bottom: 1px solid;
}

@media (min-width: 1024px) {
  header .hero .Low h2 {
    font-size: 2.4vmin;
  }
}

header .hero .Low span {
  font-size: 3vmin;
  padding-top: 1rem;
  color: #71C9CE;
}

header .hero .Low p {
  font-size: 2vmin;
  font-weight: 700;
  padding: 1rem 0 0 0;
  color: #A5E1AD;
}

header .hero .Low p span {
  font-size: 3.5vmin;
  font-weight: 700;
  padding: 0 .3rem;
  color: #A5E1AD;
}

header .hero .Low p i {
  font-size: 3vmin;
}

header .hero .High {
  height: 7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 1px solid #71C9CE;
  border-radius: 1rem;
  background-color: #CBF1F5;
}

header .hero .High:hover {
  -webkit-box-shadow: 0 0 0.5rem 0.5rem #71C9CE;
          box-shadow: 0 0 0.5rem 0.5rem #71C9CE;
}

header .hero .High h2 {
  font-size: 3vmin;
  font-weight: 700;
  color: #71C9CE;
  border-bottom: 1px solid;
}

@media (min-width: 1024px) {
  header .hero .High h2 {
    font-size: 2.5vmin;
  }
}

header .hero .High span {
  font-size: 3vmin;
  padding-top: 1rem;
  color: #71C9CE;
}

header .hero .High p {
  font-size: 2vmin;
  font-weight: 700;
  padding: 1rem 0 0 0;
  color: #DA7F8F;
}

header .hero .High p span {
  font-size: 3.5vmin;
  font-weight: 700;
  padding: 0 .3rem;
  color: #DA7F8F;
}

header .hero .High p i {
  font-size: 3vmin;
}

/* Start Cards */
.title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 0 1rem 1rem 1rem;
  color: #71C9CE;
}

.cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: .5rem;
  padding: 1rem 6rem;
}

@media (max-width: 768px) {
  .cards {
    padding: 1rem 1rem;
  }
}

.container {
  width: 100%;
  height: 200px;
  border-radius: 5px;
  background-image: url(/images/horno.jpg);
  background-color: #71C9CE;
  background-size: cover;
  background-position: center;
  -webkit-box-shadow: 0 0 5px #71C9CE;
  box-shadow: 0 0 5px #71C9CE;
  color: #71C9CE;
}

.overlay {
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr 2fr;
      grid-template-rows: 1fr 1fr 2fr;
  background: rgba(203, 241, 245, 0.9);
  opacity: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  border-radius: 5px;
  font-family: 'Playfair Display', serif;
}

.items {
  padding-left: 1rem;
}

.head {
  font-size: 1.5rem;
  letter-spacing: 1px;
  -webkit-transform: translateY(40px);
          transform: translateY(40px);
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
}

.head hr {
  display: block;
  width: 0;
  border: none;
  border-bottom: solid 2px #E3FDFD;
  position: absolute;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.whValue {
  font-size: .8rem;
  line-height: 1.5;
  font-weight: 700;
  opacity: 0;
  -webkit-transform: translateY(40px);
          transform: translateY(40px);
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
  padding-right: 1rem;
  color: #71C9CE;
}

.whValue .wh {
  font-size: 1rem;
  color: #71C9CE;
}

.whValue p {
  font-size: .7rem;
}

.cart {
  opacity: 0;
  -webkit-transform: translateY(40px);
          transform: translateY(40px);
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
}

.cart p {
  font-size: 1rem;
}

.cart span {
  font-size: .7rem;
  padding-left: 1.5rem;
}

.cart span span {
  font-size: 2rem;
  padding-right: .3rem;
  letter-spacing: 1px;
}

.container:hover .overlay {
  opacity: 1;
}

.container:hover .overlay .head {
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

.container:hover .overlay hr {
  width: 50%;
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}

.container:hover .overlay .whValue {
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
  opacity: 1;
}

.container:hover .overlay .cart {
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  -webkit-transition-delay: 0.6s;
          transition-delay: 0.6s;
  opacity: 1;
}

.Griddle {
  background-image: url(/images/Griddle.jpg);
}

.Griddle:hover .overlay hr {
  width: 50%;
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}

.Dishwasher {
  background-image: url(/images/Dishwasher.jpg);
}

.Dishwasher:hover .overlay hr {
  width: 50%;
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}

.Desktop {
  background-image: url(/images/Desktop.jpg);
}

.Desktop:hover .overlay hr {
  width: 50%;
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}

.Hairdryer {
  background-image: url(/images/Hairdryer.jpg);
}

.Hairdryer:hover .overlay hr {
  width: 75px;
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}

.CeilingFan {
  background-image: url(/images/Ceilingfan.webp);
}

.CeilingFan:hover .overlay hr {
  width: 50%;
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}

.Refrigerator {
  background-image: url(/images/Refrigerator.webp);
}

.Refrigerator:hover .overlay hr {
  width: 50%;
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}

.CoffeeMaker {
  background-image: url(/images/Coffeemaker.webp);
}

.CoffeeMaker:hover .overlay hr {
  width: 50%;
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}

.TvLed {
  background-image: url(/images/TVLED.jpeg);
}

.TvLed:hover .overlay hr {
  width: 50%;
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}

.Dryer {
  background-image: url(/images/Dryer.webp);
}

.Dryer:hover .overlay hr {
  width: 50%;
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}

.Heating {
  background-image: url(/images/Heating.jpg);
}

.Heating:hover .overlay hr {
  width: 50%;
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}

.AirConditioning {
  background-image: url(/images/Airconditioning.jpg);
}

.AirConditioning:hover .overlay hr {
  width: 50%;
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}

/* End Cards */
/*# sourceMappingURL=main.css.map */