*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    font-size: 18px;
    font-family: 'Rubik', sans-serif;
}
$main-color: #E3FDFD;
$main-color-dark: #71C9CE;
$main-color-light: #A6E3E9;
$main-color-dark-light: #CBF1F5;
$main-color-green: #67c774c7;
$main-color-red: #DA7F8F;
$main-color-yellow: #d8df80;
$color-gray: rgb(53, 49, 49);
$card-background-color: rgba(	203, 241, 245, .9);
body{
    
    background-color: $main-color;
}


header{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  @media (min-width: 768px){
    height: 100vh;
  }
  .position{
    display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    h1{
      font-size: 7vmin;
      padding: 0 0 1rem 0;
      color: $main-color-dark;
    }
    span{
      font-size: 5vmin;
      color: $main-color-dark;
    }
  }
  
   
    .hero{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        grid-gap: 1rem;
        padding: 1rem;
        @media (min-width: 768px){
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        }
        @media (max-width: 1024px){
          grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        }

        .priceActual{
          height: 7rem;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          border: 1px solid $main-color-dark;
          border-radius: 1rem;
          background-color: $main-color-dark-light;
          &:hover{
            box-shadow: 0 0 0.5rem 0.5rem $main-color-dark;
          }
          h2{
            color: $main-color-dark;
            font-size: 3vmin;
            font-weight: 700;
            border-bottom: 1px solid ;
          }
          span{
            font-size: 3vmin;
            padding-top: 1rem;
            color: $main-color-dark;
            font-weight: 500;
          }
          p{
            padding: 1rem 0 0 0;
            font-size: 2vmin;
            font-weight: 700;
            color: $main-color-dark;
            span{
              font-size: 3.5vmin;
              font-weight: 700;
              color: $main-color-dark;
            }
          }
        }

        .Medio{
          height: 7rem;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          border: 1px solid $main-color-dark;
          border-radius: 1rem;
          background-color: $main-color-dark-light;
          &:hover{
            box-shadow: 0 0 0.5rem 0.5rem $main-color-dark;
          }
          h2{
            color: $main-color-dark;
            font-size: 3vmin;
            font-weight: 700;
            border-bottom: 1px solid ;
          }
          span{
            font-size: 3vmin;
            padding-top: 1rem;
            color: $main-color-dark;
            font-weight: 500;
          }
          p{
            font-size: 2vmin;
            font-weight: 700;
            padding: 1rem 0 0 0;
            color: $main-color-dark;
            span{
              font-size: 3.5vmin;
              font-weight: 700;
              color: $main-color-dark;
            }
          }
        }

        .Low{
          height: 7rem;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          border: 1px solid $main-color-dark;
          border-radius: 1rem;
          background-color: $main-color-dark-light;
          &:hover{
            box-shadow: 0 0 0.5rem 0.5rem $main-color-dark;
          }
          h2{
            color: $main-color-dark;
            font-size: 3vmin;
            font-weight: 700;
            border-bottom: 1px solid ;
          }
          span{
            font-size: 3vmin;
            padding-top: 1rem;
            color: $main-color-dark;
            font-weight: 500;
          }
          p{
            font-size: 2vmin;
            font-weight: 700;
            padding: 1rem 0 0 0;
            color: $main-color-green;
            span{
              font-size: 3.5vmin;
              font-weight: 700;
              padding: 0 .3rem;
              color: $main-color-green;
            }
            i{
              font-size: 3vmin;
              
            }
          }
        }
        .High{
          height: 7rem;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          border: 1px solid $main-color-dark;
          border-radius: 1rem;
          background-color: $main-color-dark-light;
          &:hover{
            box-shadow: 0 0 0.5rem 0.5rem $main-color-dark;
          }
          h2{
            font-size: 3vmin;
            font-weight: 700;
            color: $main-color-dark;
            border-bottom: 1px solid ;
          }
          span{
            font-size: 3vmin;
            padding-top: 1rem;
            color: $main-color-dark;
            font-weight: 500;
          }
          p{
            font-size: 2vmin;
            font-weight: 700;
            padding: 1rem 0 0 0;
            color: $main-color-red;
            span{
              font-size: 3.5vmin;
              font-weight: 700;
              padding: 0 .3rem;
              color: $main-color-red;
            }
            i{
              font-size: 3vmin;
            }
          }
        }
    }
    
}

/* Start all hours of the day */
.hours{
  h2{
    display: flex;
    justify-content: center;
    align-items: center;
    color: $main-color-dark;
  }
  .allDay{
   display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 1rem;
    padding: 1rem 4rem 1rem 4rem;
    @media (max-width: 768px){
      padding: 1rem 1rem;
    }
   
    p{
      font-size: 3vmin;
      color: $color-gray;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 1rem; 
    }
  }

}

/* End all hours of the day  */



/* Start Cards */ 
.title{
 display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0 1rem 1rem 1rem; 
  color: $main-color-dark;
}
.cards{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: .5rem;
    padding: 1rem 6rem;
    @media (max-width: 768px){
      padding: 1rem 1rem;
    }
}

.container {
    width: 100%;
    height: 200px;
    border-radius: 5px;
    background-image: url(/images/horno.jpg);
    background-color: $main-color-dark;
    background-size: cover;
    background-position: center;
    -webkit-box-shadow: 0 0 5px $main-color-dark;
          box-shadow: 0 0 5px $main-color-dark;
          color: $main-color-dark;
    }
  
  .overlay {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr 2fr;
    background: $card-background-color;
    opacity: 0;
    transition: all 0.5s;
    border-radius: 5px;
    font-family: 'Playfair Display', serif;
  }
  
  
  .items {
    padding-left: 1rem;
  }
  
  .head {
    font-size: 1.5rem;
    letter-spacing: 1px; 
    transform: translateY(40px);
    transition: all 0.7s;
    hr {
      display: block;
      width: 0;
      border: none;
      border-bottom: solid 2px $main-color;
      position: absolute;
      transition: all .5s;
    }
  }
  
  .whValue {
    font-size: .8rem;
    line-height: 1.5;
    font-weight: 700;  
    opacity: 0;
    transform: translateY(40px);
    transition: all 0.7s;
    padding-right: 1rem;
    color: $main-color-dark;
    .wh{
        font-size: 1rem;
        color: $main-color-dark;
        
    }
    p {
      font-size: .7rem;
    }
  }
  
  .cart {
    opacity: 0;
    transform: translateY(40px);
    transition: all 0.7s;
    p{
        font-size: 1rem;
    }
    span {
        font-size: .7rem;
        padding-left: 1.5rem;
        span{
            font-size: 2rem;
            padding-right: .3rem;
            letter-spacing: 1px;
        }
    }
  }
  
  .container:hover .overlay {
    opacity: 1;
    & .head {
      transform: translateY(0px);
    }
    
    & hr {
      width: 50%;
      transition-delay: 0.4s;
      
    }
    
    & .whValue {
      transform: translateY(0px);
      transition-delay: 0.3s;
      opacity: 1;
    }
    
    & .cart {
      transform: translateY(0px);
      transition-delay: 0.6s;
      opacity: 1;
    }
  }


  .Griddle{
    background-image: url(/images/Griddle.jpg);
}
.Dishwasher{
    background-image: url(/images/Dishwasher.jpg);
}
.Desktop{
    background-image: url(/images/Desktop.jpg);
}
.Hairdryer{
    background-image: url(/images/Hairdryer.jpg);
}
.CeilingFan{
    background-image: url(/images/Ceilingfan.webp);
}
.Refrigerator{
    background-image: url(/images/Refrigerator.webp);
}
.CoffeeMaker{
    background-image: url(/images/Coffeemaker.webp);
}
.TvLed{
    background-image: url(/images/TVLED.jpeg);
}
.Dryer{
    background-image: url(/images/Dryer.webp);
}
.Heating{
    background-image: url(/images/Heating.jpg);
}
.AirConditioning{
    background-image: url(/images/Airconditioning.jpg);
}

/* End Cards */